<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        
      </div>

      <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input id="id" type="text">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input id="psword" type="password">
            <label>Password</label>
          </div>
          <p id="button">login</p>
          <br>
          <p class="message">Not registered?</p>
          <a href="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            create an account
          </a>
        </form>
      </div>
</body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
